body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 36px;
  margin: 5px;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: hsl(212, 27%, 19%);
  line-height: 150%;
}

header nav h1 {
  position: absolute;
  top: 10%;
  left: 20%;
  font-weight: 900;
  font-size: 70px;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
}

.main-mobile {
  display: none;
}

.nav-mobile {
  position: relative;
  display: none;
}
.image-header {
  max-width: 1440px;
  top: 0;
  z-index: 1;
}

.header-logo {
  position: absolute;
  top: 3%;
  left: 2%;
}

.nav-links {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 1010px;
}

.nav-desktop button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 7px;
  cursor: pointer;
  border-radius: 24px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

.nav-desktop button:hover {
  background-color: rgba(111, 206, 254, 255);
  color: hsl(0, 0%, 100%);
}

.nav-links div {
  margin: 0 20px 0 20px;
}

.img-arrow {
  position: absolute;
  top: 340px;
  left: 700px;
  width: 40px;
  height: 130px;
}

.nav-desktop {
  position: relative;
}

nav {
  margin-bottom: -4px;
}

.main-desktop {
  display: grid;
  grid-template: 1fr 1fr 1.01fr / 1fr 1fr;
  max-width: 1440px;
}

.transform,
.standout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.standout p,
.standout h2,
.transform p,
.transform h2 {
  max-width: 400px;
}
.standout button,
.transform button {
  position: relative;
  font-family: "Fraunces", serif;
  font-weight: 700;
  border: none;
  background-color: inherit;
  padding: 0 5px;
  align-self: flex-start;
  margin: 15px 0 0 160px;
  outline: inherit;
}

.button-yellow::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 105px;
  height: 9px;
  border-radius: 8px;
  opacity: 0.3;
  transform: skew(-12deg) translateX(-50%);
  background: hsl(51, 100%, 49%);
  z-index: -1;
}

.button-red::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 105px;
  height: 9px;
  border-radius: 8px;
  opacity: 0.3;
  transform: skew(-12deg) translateX(-50%);
  background: hsl(7, 99%, 70%);
  z-index: -1;
}

.button-yellow:hover::before,
.button-red:hover::before {
  opacity: 1;
}

.graphic-design,
.photography {
  position: relative;
}
.graphic-design div,
.photography div {
  position: absolute;
  top: 55%;
  left: 25%;
  text-align: center;
  width: 330px;
  font-size: 18px;
  color: hsl(167, 40%, 24%);
}
.photography div {
  color: hsl(198, 62%, 26%);
}
.graphic-design h2,
.photography h2 {
  font-size: 28px;
}
.graphic-design p,
.photography p {
  font-weight: 700;
  opacity: 0.7;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  background-color: rgba(255, 251, 248, 255);
}
.testimonials h2 {
  font-size: 20px;
  color: hsl(210, 4%, 67%);
  margin: 150px 0 80px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.testimonials div {
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}

.testimonials div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 350px;
  margin: 0 20px 0 20px;
}
.testimonials div div img {
  border-radius: 50%;
  height: 70px;
  margin-bottom: 40px;
}

.testimonials div div p {
  font-size: 18px;
  margin-bottom: 40px;
}

.testimonials div div h3 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0;
}

.testimonials div div h4 {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: hsl(210, 4%, 67%);
  margin: 10px;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
}

.image-gallery img {
  max-width: 25%;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(144, 212, 197, 255);
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

footer img {
  filter: invert(52%) sepia(19%) saturate(951%) hue-rotate(118deg)
    brightness(89%) contrast(83%);
  width: 160px;
  height: 28px;
  margin-top: 70px;
}

footer div {
  display: flex;
  flex-direction: row;
  color: hsl(168, 34%, 41%);
  font-weight: 700;
  margin: 30px 0 50px 0;
}

footer div div {
  margin: 0 20px 0 20px;
}
footer div div:hover {
  color: white;
  cursor: pointer;
}

footer div img {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 10px;
}

footer div img:hover {
  filter: brightness(0) invert(1);
  cursor: pointer;
}

@media (max-width: 375px) {
  .main-desktop {
    display: none;
  }
}
