body {
  margin: 0;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 36px;
  margin: 5px;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: hsl(212, 27%, 19%);
  line-height: 150%;
}
header {
}

.main-mobile {
  display: none;
}
.nav-desktop {
  position: relative;
}
.image-header {
  max-width: 1440px;
  top: 0;
}

.main-desktop {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  max-width: 1440px;
  max-height: 1740px;
}

.transform,
.standout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.standout p,
h2,
.transform p,
h2 {
  max-width: 400px;
}
.standout button,
.transform button {
  position: relative;
  font-family: "Fraunces", serif;
  font-weight: 700;
  border: none;
  background-color: inherit;
  padding: 0 5px;
  align-self: flex-start;
  margin: 15px 0 0 160px;
  outline: inherit;
}

.button-yellow::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 105px;
  height: 9px;
  border-radius: 8px;
  opacity: 0.3;
  transform: skew(-12deg) translateX(-50%);
  background: hsl(51, 100%, 49%);
  z-index: -1;
}

.button-red::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 105px;
  height: 9px;
  border-radius: 8px;
  opacity: 0.3;
  transform: skew(-12deg) translateX(-50%);
  background: hsl(7, 99%, 70%);
  z-index: -1;
}

.button-yellow:hover::before,
.button-red:hover::before {
  opacity: 1;
}

.graphic-design,
.photography {
  position: relative;
}
.graphic-design div,
.photography div {
  position: absolute;
  top: 55%;
  left: 25%;
  text-align: center;
  width: 330px;
  font-size: 18px;
  color: hsl(167, 40%, 24%);
}
.photography div {
  color: hsl(198, 62%, 26%);
}
.graphic-design h2,
.photography h2 {
  font-size: 28px;
}
.graphic-design p,
.photography p {
  font-weight: 700;
  opacity: 0.7;
}

@media (max-width: 375px) {
  .main-desktop {
    display: none;
  }
}
